*{
    margin:0;
    padding: 0;
}
.navbar-arin{
    width: 100%; 
    
   
   /* position: relative;*/
   position:sticky; /* change*/
    top: 0;
    z-index: 100;
    height: 2rem;
    background: #1d1f37;
    padding: 12px 0;
    border-bottom: 14px solid #006c32; /* Change */
    }
.container-arin{
    width: 1140px;
    margin:auto;
}
.identity-arin{
    display: flex;
    

}
.logo-arin img{
    width: 100%;
    height: 120px;
}
.identity-menu-arin{
    display: flex;
    justify-content: space-between;
    
}
.menu-arin ul{
    display:inline-block;
    margin-left: 32px;
    margin-top:-12px;
    
}
.menu-arin ul li{
    list-style: none;
    display: inline-block;
    margin-right: 16px;
    
}
.menu-arin ul li a{
    
    text-decoration: none;
    font-size: 16px;
    
    
    font-weight: 400;
 
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    
    color: #ffffff;
    

}
.menu-arin ul li a:hover{
    
    text-decoration: none;
    font-size: 18px;
    
   
    font-family:'Roboto', sans-serif;
    transition: 1s;
    cursor:pointer;
    border-bottom: 1px solid    white;
}
.title-arin h6{
    white-space: initial;
    margin-top: 20px;
    margin-left: 36px;
    font-size: 16px;
    line-height: 1;
    left: 70px;
    font-weight: 700;
    margin-bottom: -10px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding-left: 0;
    color: #ffffff;
    width: 100%;
    position: absolute;
    
    
}

/* change onwards*/
.welcome-message{
    margin-top: 32px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.welcome-message h1{
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: center;

}
.arin-slider-button-left, .arin-slider-button-right{
    padding-left: 24px;
    padding-right:24px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #1d1f37;
    color: white;
    font-size: 22px;
    
}
.button-tog{
    display: flex;
    justify-content: space-between;
    margin-top: -250px;
}

/*new code*/
.testimonial{
    width: 100%;
    background-color: white;
}
.upper-part h6, .upper-part h1, .upper-part p{
    text-align: center;
}
.upper-part h6{
    font-size: 18px;
    
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #254160;
}
.upper-part h1{
    position: relative;
    font-size: 45px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 22px;
}
.upper-part {
   

    margin-top: 200px;
    
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 32px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    
}
.testimonial-tog{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 85px 0px;

}
    
.test-1{
    text-align: center;
    
    
    
}

.owl-carousel .owl-item img{
    width: 100px;
    border-radius: 100%;
    
}
.user-image{
   position: relative;
    display: inline-block;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    top: 50px;
    
    
}


 .test-1 p, .test-1 h3, .test-1 h5{
    text-align: center;
}
.test-1 p{
    font-family: "Poppins", Arial, sans-serif;
    background: #b6e1f6 ;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    
    border-radius: 20px;
    padding: 80px 18px;
   
    border-left: 2px solid rgb(238, 236, 236);
    position: relative;
}
.slider-button{
    position: relative;
    padding: 10px 28px;
    background-color: #1d1f37;
    color: white;
    border-radius: 2px;
    top: -55px;
}
.test-1 p::before{
    content: '';
    height: 30px;
    width: 3px;
    background-color: #254160;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);

}
.test-1 h3{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Poppins", Arial, sans-serif;
}
.test-1 h5{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    margin: 10px 0px;
}

.sum-tog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    background-color: #1d1f37
    
}
.sum-item{
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
}
.sum-item h1{
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    color:white;
    font-family: "Poppins", Arial, sans-serif;
    padding-bottom: 35px;
    padding-top: 20px;;
    
}
.sum-item p{
    font-size: 14px;
    
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 50px;
}
.sum-item ul li{
    list-style: none;
    margin-bottom: 20px;
}

.sum-item ul li a{
    
    text-decoration: none;
    font-size: 14px;
    
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    
    
    line-height: 2.9;
    font-weight: 400;

}
.sum-item ul li a:hover{
    margin-left: 10px;
    transition: 1.0s;
    color: #254160;
}
.sum-vegefoods-icons a i{
    background-color: #f5f5f5;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 100%;
    margin-right:10px ;
    font-size: 25px;
    

}
.sum-vegefoods-icons a i:hover{
    background-color: #254160;
    color: white;
    transition: 1.0s;

}
.sum-vegefoods-icons a{
    text-align: center;
}

.sum-map span, .sum-phone span, .sum-mail span{
    font-size: 14px;
    
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    
  
}
.sum-map , .sum-phone , .sum-mail{
    margin-bottom: 10px;
}
.footer-div{
    text-align: center;
  
    font-size: 14px;
    padding: 3em 0;
    color: #ffffff;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #254160;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;

}
.footer-div a{
    text-decoration: none;
}

.footer-div a:hover{
    color: #254160;
    transition: 1.0s;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #1d1f37;
    color: white;
   
    font-size: 6px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
  }
  .dropbtn:hover{
      background-color: #1d1f37;
      transition: 1.0s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#b6e1f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #1d1f37}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #1d1f37;
  }
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .login-tog-arin{
    display: flex;
    margin-top: 200px;
  }
  .login-left-arin img{
    width: 550px;
    height: 500px;
    border-radius: 10%;
    padding-top: 20px;
    position: relative;
   
  }
  .login-right-arin img{
    width: 80px;
    

  }
  .login-right-arin{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006c32;
  }
  .login-left-arin h1, .login-left-arin h2{
    
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  
  }
  .login-left-arin h1{
    top: 70%;
    font-size: 42px;
    margin-left: 200px;
    color: yellow;
  }
  .login-left-arin h2{
    top: 80%;
    font-size: 32px;
    margin-left: 70px;
    color: #006c32;
  }
  
